In [26]:
# Pandas Series Creation Examples
import pandas as pd
import numpy as np

# Creating Series using ndarray
arr = np.array([10, 15, 18, 22])
s = pd.Series(arr)
print("Series with default index:\n", s)

Series with default index:
 0    10
1    15
2    18
3    22
dtype: int32

In [27]:
# Creating Series with custom index
arr = np.array(['a', 'b', 'c', 'd'])
s = pd.Series(arr, index=['first', 'second', 'third', 'fourth'])
print("Series with custom index:\n", s)

Series with custom index:
 first     a
second    b
third     c
fourth    d
dtype: object

In [28]:
# Series from scalar value
s = pd.Series(5, index=['a', 'b', 'c'])
print("Series from scalar:\n", s)

Series from scalar:
 a    5
b    5
c    5
dtype: int64

In [29]:
# Series from dictionary
data = {'a': 10, 'b': 20, 'c': 30}
s = pd.Series(data)
print("Series from dictionary:\n", s)

Series from dictionary:
 a    10
b    20
c    30
dtype: int64

In [30]:
# Mathematical Operations on Series
s = pd.Series([1, 2, 3, 4])
print("Multiplied by 2:\n", s * 2)
print("Squared values:\n", s ** 2)
print("Values > 2:\n", s[s > 2])

# Head and Tail Functions
print("First 3 rows:\n", s.head(3))
print("Last 2 rows:\n", s.tail(2))

# Indexing & Selection
print("loc[0:2]:\n", s.loc[0:2])
print("iloc[0:2]:\n", s.iloc[0:2])
print("s[3]:", s[3])

# Slicing
print("s[1:4:2]:\n", s[1:4:2])

Multiplied by 2:
 0    2
1    4
2    6
3    8
dtype: int64
Squared values:
 0     1
1     4
2     9
3    16
dtype: int64
Values > 2:
 2    3
3    4
dtype: int64
First 3 rows:
 0    1
1    2
2    3
dtype: int64
Last 2 rows:
 2    3
3    4
dtype: int64
loc[0:2]:
 0    1
1    2
2    3
dtype: int64
iloc[0:2]:
 0    1
1    2
dtype: int64
s[3]: 4
s[1:4:2]:
 1    2
3    4
dtype: int64

In [31]:
# DataFrame Creation from Series
s = pd.Series(['a', 'b', 'c', 'd'])
df = pd.DataFrame(s)

print("DataFrame from Series:\n", df)

DataFrame from Series:
    0
0  a
1  b
2  c
3  d

In [32]:
# DataFrame from Dictionary
empdata = {
    'Doj': ['12-01-2012', '15-01-2012', '05-09-2007', '17-01-2012', '05-09-2007', '16-01-2012'],
    'empid': [101, 102, 103, 104, 105, 106],
    'ename': ['Sachin', 'Vinod', 'Lakhbir', 'Anil', 'Devinder', 'UmaSelvi']
}
df = pd.DataFrame(empdata)
print("DataFrame:\n", df)
print("df.head():\n", df.head())
print("df.tail():\n", df.tail())
print("df[2:5]:\n", df[2:5])

DataFrame:
           Doj  empid     ename
0  12-01-2012    101    Sachin
1  15-01-2012    102     Vinod
2  05-09-2007    103   Lakhbir
3  17-01-2012    104      Anil
4  05-09-2007    105  Devinder
5  16-01-2012    106  UmaSelvi
df.head():
           Doj  empid     ename
0  12-01-2012    101    Sachin
1  15-01-2012    102     Vinod
2  05-09-2007    103   Lakhbir
3  17-01-2012    104      Anil
4  05-09-2007    105  Devinder
df.tail():
           Doj  empid     ename
1  15-01-2012    102     Vinod
2  05-09-2007    103   Lakhbir
3  17-01-2012    104      Anil
4  05-09-2007    105  Devinder
5  16-01-2012    106  UmaSelvi
df[2:5]:
           Doj  empid     ename
2  05-09-2007    103   Lakhbir
3  17-01-2012    104      Anil
4  05-09-2007    105  Devinder

In [33]:
# Slicing
print("s[1:4:2]:\n", s[1:4:2])

s[1:4:2]:
 1    b
3    d
dtype: object

In [34]:
# Add and Rename Columns
s = pd.Series([10, 15, 18, 22])
df = pd.DataFrame(s)
df.columns = ['List1']
df['List2'] = 20
df['List3'] = df['List1'] + df['List2']
print("After Adding Columns:\n", df)

After Adding Columns:
    List1  List2  List3
0     10     20     30
1     15     20     35
2     18     20     38
3     22     20     42

In [35]:
# Deleting Columns
del df['List3']
print("After Deleting List3:\n", df)
df.pop('List2')
print("After pop List2:\n", df)

After Deleting List3:
    List1  List2
0     10     20
1     15     20
2     18     20
3     22     20
After pop List2:
    List1
0     10
1     15
2     18
3     22

In [36]:
# drop() Method
s = pd.Series([10, 20, 30, 40])
df = pd.DataFrame(s)
df.columns = ['List1']
df['List2'] = 40
df1 = df.drop('List2', axis=1)
df2 = df.drop(index=[2, 3], axis=0)
print("Original DataFrame:\n", df)
print("After Column Deletion:\n", df1)
print("After Row Deletion:\n", df2)

Original DataFrame:
    List1  List2
0     10     40
1     20     40
2     30     40
3     40     40
After Column Deletion:
    List1
0     10
1     20
2     30
3     40
After Row Deletion:
    List1  List2
0     10     40
1     20     40

In [37]:
# loc and iloc
print("df.loc[0:2]:\n", df.loc[0:2])
print("df.iloc[0:2, 0:1]:\n", df.iloc[0:2, 0:1])

df.loc[0:2]:
    List1  List2
0     10     40
1     20     40
2     30     40
df.iloc[0:2, 0:1]:
    List1
0     10
1     20

In [38]:
# Boolean Indexing
df = pd.DataFrame({'A': [1, 2, 3, 4], 'B': [10, 20, 30, 40]})
bool_index = [True, False, True, False]
print("Boolean Indexing:\n", df[bool_index])

Boolean Indexing:
    A   B
0  1  10
2  3  30

In [39]:
# Concat operation
df1 = pd.DataFrame({'A': ['A0', 'A1'], 'B': ['B0', 'B1']})
df2 = pd.DataFrame({'A': ['A2', 'A3'], 'B': ['B2', 'B3']})
result = pd.concat([df1, df2])
print("Concatenated DataFrame:\n", result)

Concatenated DataFrame:
     A   B
0  A0  B0
1  A1  B1
0  A2  B2
1  A3  B3

In [40]:
# Merge operation
df1 = pd.DataFrame({'id': [1, 2], 'Name': ['Alice', 'Bob']})
df2 = pd.DataFrame({'id': [1, 2], 'Score': [90, 80]})
merged = pd.merge(df1, df2, on='id')
print("Merged DataFrame:\n", merged)

Merged DataFrame:
    id   Name  Score
0   1  Alice     90
1   2    Bob     80

In [41]:
# Join operation
df1 = pd.DataFrame({'id': [1, 2, 3], 'A': ['A0', 'A1', 'A2']})
df2 = pd.DataFrame({'id': [3, 4, 5], 'B': ['B2', 'B3', 'B4']})
joined = pd.merge(df1, df2, how='outer', on='id', suffixes=('_left', '_right'))
print("Join with outer:\n", joined)

Join with outer:
    id    A    B
0   1   A0  NaN
1   2   A1  NaN
2   3   A2   B2
3   4  NaN   B3
4   5  NaN   B4

In [ ]:
# Reading CSV File
df = pd.read_csv('Dataframe1.csv')  # File should be in the working directory
print("Read from CSV:\n", df)

# Exporting DataFrame to CSV
df.to_csv('ExportedDataframe.csv', index=False)